body{
  margin:0%;
}
h1{
  font-size: 30px;
  margin-top: 70px;
}
h2{
  font-size: 30px;
}

.spa{
    color:yellowgreen;
}

.first{
  width:30%;
  float:left;
  color:rgb(32, 19, 90);
  margin-left:14%;
  padding-left:2%;

}
.first img{
  width:100%;
  
}
.first-sec{
  background-image:url("images/top-banner.png");
  background-repeat: no-repeat;
 
  
  
}
section{
  
  height:500px;
}
.button{
  
  background-image:linear-gradient(brown, yellow);
  text-decoration:none;
  padding:10px 20px;
  border-radius: 5px;
  color:white;
}
.second-sec img{
  width:100%;
  padding-right:10%;
  margin-right:10px;

}

.second-button{
  background-image:linear-gradient(yellow, brown);
  border-radius:4px;
  padding:10px 20px;
  text-decoration:none;
}
.second{
  background-image:url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.second-sec{
  width:30%;
  float:left;
  
  padding:2px;
  margin-left:14%;
  padding-left:2%;
}

.third-sec{
  width:35%;
  float:left;
  margin-left: 6%;
  margin-right:7%;
  box-shadow:10px 10px 40px gray;
  height:70%;
  border-radius: 8px;
 
}
.exp-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
h3{
  color:rgb(64, 180, 60);
}
#p1{
  color:rgb(97, 50, 205);
}
#s-1{
  border-left-style:solid;
  border-left-color: deeppink;
  border-width:7px;
}
#s-2{
  border-left:7px solid;
 
  }
